<header>
    <div class="nav">
      <a href="/" style="text-decoration: none;" class="tlb" >The Leading Bean</a>
      <ul>
        <li>
          <i class="fa fa-home home" aria-hidden="true"></i>
        </li>
        <li>
          <a href="/menu" >Menu</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        
        <li>

          <a href="/menu/cartPage" style="position: relative;">
            <i class="fa fa-cart-arrow-down fa-1x" aria-hidden="true" style="font-size: 1.5em;"></i>
            <%if(quantity==0){%>
            <span class="cart-item" style="overflow: hidden;">0</span>
            <%}else{%>
            <span class="cart-item" style="overflow: hidden;"><%=quantity%></span>
            <%}%>
          </a>
      </li>
      </ul>
    </div>
  </header>
  <script>
    // //   localStorage.clear();
    // var item=localStorage.getItem('quantitiy');
    // console.log(item);
    // document.querySelector('.cart-item').textContent=item;
  </script>