*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat',serif;
}
html{
    scroll-behavior: smooth;
}
header{
    background-image: url('https://storage.cloud.google.com/tlb_bucket-1/pic6.jpg');
    /* background-attachment: fixed; */
    background-size: 100% 100%;
    height: 53em;
    font-family: 'Montserrat',serif;
    overflow: hidden;
    opacity: 0.9;

}
.logo{
    position: absolute;
    /* height: 40px; */
    /* /* position: absolute; */
    height: 125px;   
    top: 20px;
    left: 43px;
}
.head{
    display: flex;
    justify-content: space-between;

}
.head ul li{
    /* text-decoration: none; */
    list-style: none;
    margin-right: 17em;
    /* width: 310px; */
}
.head ul{
    display: flex;
    padding: 32px;
    margin-top: 35px;
    font-size: 22px;
    /* padding-left: 4em;
    margin-left: 7em; */
}
.head ul li a{
    font-family: 'Montserrat',serif;
    opacity: 0.5;
    transition: 1ms;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    color: white;
    margin-top: 40px;
    text-transform: uppercase;
    position: relative;
}
.head ul li a::before{
    content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            box-sizing: border-box;
            border-top: 2px solid #2d1515;
            border-left: 2px solid brown;
            transition: all .4s;

}
.head ul li a::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    box-sizing: border-box;
    border-bottom:2px solid white ;
    border-right: 2px solid white;
    transition: all .4s;
}
.head ul li a:hover::after,.head ul li a:hover::before{
    content: '';
            width: 10%;
            height: 10%;
            transform: rotate(360deg);
            color: white;
}
.head ul li a:hover{
    opacity: 1;
}
.quo{
    color: white;
    position: relative;
    top: 300px;
    left: 40em;
}
.quo h2{
    font-size: 4em;
}
.quo p{
    margin-left: -200px;
    font-size: 20px;
    letter-spacing: 2px;
}
#menu{
    position: relative;
    left: 120px;
}
.quo1{
    height: 250px;
    text-align: center;

    font-family:'Montserrat',sans-serif;
    position: relative;
    top: 12px;
    font-style: italic;
    padding: 6.25em;
    /* font-family: Montserrat,sans-serif; */
    color: #333029;
    font-size: 1.344em;
    font-weight: 700;
}
.loc{
    background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
    height: 50em;

}
.loc h2{
    color: white;
    text-align: center;
    position: relative;
    top: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3em;
    z-index: 5;
    /* justify-content: center; */
    /* margin-top: 20px; */
}
.pic7{
    z-index: 2;
    height: 50em;
    position: relative;
    top: -68px;
}
.pic3{
    height: 25.89em;
    /* width: 33.4em; */
    position: relative;
    top: -68px;
    /* right: 32px; */
    z-index: 3;
    position: relative;
    bottom: -106em;
    top: -35.09em;
    /* left: -55px; */
    /* border: 2px solid darkgrey; */
    width: 33.6em;
}
iframe{
    height: 24em;
    width: 33.4em;
    margin-bottom: 30em;
    border: 15px;
    position: relative;
    /* margin-bottom: 36px; */
    bottom: 67px;
    /* position: relative; */
    /* top: -68px; */
    /* right: 32px; */
    z-index: 3;
}
.map{
    display: flex;
    flex-direction: row;
}
.map1{
display: flex;
flex-direction: column;
}
.section2{
height: 50em;
z-index: 0;
}
.gallery{
    height:20em;
    z-index: 1;
    background-color:rgb(0 0 0);
    text-align: center;
    
}
.galhead{
    font-family: 'Montserrat',serif;
    position: relative;
    top: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3em;
    z-index: 5;
    font-weight: 800;
    color: white;
}
.gallery h3{
    font-family: 'Montserrat',serif;
    margin-top: 74px;
    font-weight: lighter;
    font-size: 1.7em;
    color: white;
    font-style: italic;
}
.s1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60em;
    /* background-color: blue; */
    
}
.s2{
    display: grid;
    width: 100%;
    height: 60em;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
}
.s4{
    display: grid;
    width: 100%;
    height: 60em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    margin-top: -5px;

}

.con{
    font-family: "Lexend Zetta",sans-serif;
    display: grid;
    height: 800px;
    width: 100%;
    background-color: #294b49fa;
    z-index: 0;
    justify-content: center;
    text-transform: uppercase;
    color: #F8D6B4;

    
}
.menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(5,1fr);
    width: 800px;
    height: 720px;
    position: relative;
    top: 20px;
    z-index: 1;
    justify-content: center;
    letter-spacing: 5px;
    /* justify-items: center; */
}
.item,.item11{
    justify-self: center;
    /* position: relative; */
}
.item11{
    font-size: 100px;
    font-weight: 300;
    position: relative;
    top: 70px;
    /* top: 28%; */
}
.item span{
    position: relative;
    top: 28%;
    font-weight: 500;
    font-size: 25px;
}
.menubtn{
    height: 60px;
    /* font-size: 20px; */
    background-color: white;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 1ms;
    margin-top: 30px;
}
.menubtn:hover{
    background-color: rgb(138, 191, 191);
}
.menubtn span a{
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    color: #232323;
}
.reser{
    width: 100%;
    height: 45em;
    background-color:white;
}
.reser span{
    color: black;
    margin-left: 15em;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    top: 45px;
}
#submit:hover{
background-color: rgb(236, 28, 28);
color: white;
}
.opening-hours{
    color: #777777;
}

