<link rel="stylesheet" href="<%=assetPath('css/footer.css')%>">
  <!-- footer section start -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="index.html"><img src="../../public/img/THE LEADING BEAN.png" alt="" class="img-fluid logo-footer"></a>
                    

          </div>
          <!-- <div class="col-md-3">
            <div class="useful-link">
              <h2>Useful Links</h2>
              <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
              <div class="use-links">
                <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                <li><a href="about.html"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                <li><a href="gallery.html"><i class="fa-solid fa-angles-right"></i> Gallery</a></li>
                <li><a href="contact.html"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
              </div>
            </div>

          </div> -->
                    <div class="col-md-3">
                        <div class="social-links">
              <h2>Follow Us</h2>
              <img src="../assets/images/about/home_line.png" alt="">
              <div class="social-icons">
                <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
              </div>
            </div>
                    </div>
          <div class="col-md-3">
            <div class="address">
              <h2>Address</h2>
              <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
              <div class="address-links">
                <li class="address1"><i class="fa-solid fa-location-dot"></i> Kolathur ramankulam-
                  Malappuram Dt 
                   Kerala 679338</li>
                   <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500xyz</a></li>
                   <li><a href=""><i class="fa-solid fa-envelope"></i> mail@1234567.com</a></li>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer opening-hours">
                <h4 class="footer-title" style="font-size: 1.5em;font-weight: 800;">Opening Hours</h4>
                <div class="row" style="margin-top: 40px;margin-top: 30px;
                line-height: 32px;
                color: #777777;
                font-weight: 500;">
                    <div class="col-sm-12">
                        <ul class="pq-time">
                            <li>
                                <span class="day">Mon - Tue</span><span class="time">09.00 am - 10.00
                                    pm</span>
                            </li>
                            <ul class="pq-time">
                              <li>
                                  <span class="day">Wed - Thu</span><span class="time">10.00am -
                                      11.00pm</span>
                              </li>
                          </ul>
                          <ul class="pq-time">
                            <li>
                                <span class="day">Sat</span><span class="time">07.00am - 08.00pm</span>
                            </li>
                        </ul>
                        <ul class="pq-time">
                          <li>
                              <span class="day">Sun</span><span class="time">9:00 am - 8 Pm</span>
                          </li>
                      </ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>

    </footer>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    